<!DOCTYPE html>
<html lang="ja">
<head>
  <link rel="stylesheet" href="/public/style.css">
  <meta charset="UTF-8">
  <title>詳細</title>
</head>
<body>

<h1>アーティスト詳細</h1>

<p>ID：<%= data.id %></p>
<p>名前：<%= data.name %></p>
<p>結成日：<%= data.formed_on %></p>

<a href="/artists"><button>一覧へ戻る</button></a>

</body>
</html>
