<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ブランド詳細</title>
  <link rel="stylesheet" href="/public/brands.css">
</head>
<body>
  <h1><%= data.name %> 詳細</h1>

  <p>ブランド名: <%= data.name %></p>
  <p>創業日: <%= data.founded_on %></p>

  <a href="/brands"><button type="button">一覧へ戻る</button></a>
  <a href="/"><button type="button">トップページへ</button></a>
</body>
</html>
